.my-profile-about {
    padding: 1rem 2rem 6rem;
    margin: 0 auto;
}

.my-profile-about h3 {
    font-size: 1.25em;
    line-height: 1em;
    margin: 1em 0;
    color: #f6ac00;
}

.my-profile-about ul li {
    line-height: 2em;
}

.my-profile-about table tr td {
    border: 1px solid #f0eeee;
    padding: 1em;
}

.my-profile-about table tr td:first-child {
    background-color: #dddddd;
}